<div class="container">
  <ul class="social">
    {%- if site.texture.social_links.github -%}
      <li><a href="https://github.com/{{ site.texture.social_links.github }}"><i class="icon-github-circled"></i></a></li>
    {%- endif -%}
    {%- if site.texture.social_links.linkedIn -%}
     <li><a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><i class="icon-linkedin-squared"></i></a></li>
    {%- endif -%}
    {%- if site.texture.social_links.twitter -%}
      <li><a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><i class="icon-twitter-squared"></i></a></li>
    {%- endif -%}
  </ul>
  <h1><a href="{{ '/' | relative_url }}">{{ site.texture.title }}</a></h1>
  <h2>{{ site.texture.tagline }}</h2>
</div>
